/*  add your styles below
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #400C29; /* change */
    color: #000; /* change */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #FFBCE3;
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete */
}


/* add your styles here */
aside {
  background: #400C29;
    color: #fff;

}
header, footer {
  background: #FE8E67;
}

figure {
 background: #D48A75;
}
/* add your pseudo classes below this line */
a:link { color: #fff; }
a:visited { color: #001BED; }
a:focus { color: #0075FF; }
a:hover { color: #2FCEF5; }
a:active { color: #9100F5; }

footer a:link { color: #3C88AC; }
footer a:visited { color: #DBDAC6; }
footer a:focus { color: #D62E0B; }
footer a:hover { color: #156119; }
footer a:active { color: #DB00D1; }
